server:
  port: 11081
  servlet:
    context-path: /dboj/api
spring:
  datasource:
    url: jdbc:postgresql://glab2.mylab.cc:11432/cs309proj
    username: dboj
    password: dboj2020
    driver-class-name: org.postgresql.Driver
    hikari:
      minimum-idle: 5
      maximum-pool-size: 15
      auto-commit: true
      idle-timeout: 30000
      pool-name: DatebookHikariCP
      max-lifetime: 120000
      connection-timeout: 30000
      connection-test-query: SELECT 1
#  redis:
#    host: glab2.mylab.cc
#    port: 11379
#    timeout: 1000
#    database: 0
#    jedis:
#      pool:
#        max-active: 8
#        min-idle: -1
#        max-idle: 8
#        max-wait: 1000
  jpa:
    properties:
      hibernate:
        temp:
          use_jdbc_metadata_defaults: false
          open-in-view: true
    hibernate:
      ddl-auto: update #if use create, we will build new table and clean all the date.
    open-in-view: false
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  servlet:
    multipart:
      max-file-size: 2000000
  mail:
    username: xiongzc2017@126.com
    host: smtp.126.com
    password:  # secret
    port: 25
    default-encoding: gbk


